[Unit]
Description=Synchronize Secondary EFI Partition
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/sync-esp.sh

[Install]
WantedBy=multi-user.target