[Unit]
Description=Install GRUB on secondary EFI partition
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sync-efi.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target