#==============================================================================
# Rocky Linux 9 Enterprise Golden Image
# UEFI + GPT + Single Disk (No RAID / No LVM)
#==============================================================================

text
cdrom

lang en_US.UTF-8
keyboard us
timezone Asia/Kolkata --isUtc
rootpw --plaintext Root@123

network --bootproto=dhcp --device=link --activate
firewall --enabled --service=ssh
selinux --enforcing
services --enabled="NetworkManager,sshd,chronyd"
reboot

zerombr
clearpart --all --initlabel

bootloader --location=boot --append="crashkernel=auto"

part /boot/efi --fstype=efi --size=600
part /boot --fstype=xfs --size=1024
part swap --fstype=swap --size=4096
part / --fstype=xfs --grow --size=1024

%packages
@^server
dosfstools
xfsprogs
grub2-efi-x64
grub2-tools
shim-x64
efibootmgr
open-vm-tools
vim
nano
wget
curl
bash-completion
net-tools
lsof
tcpdump
rsync
tar
unzip
zip
gdisk
%end

%post --interpreter=/usr/bin/bash --log=/root/anaconda-post.log --erroronfail

exec >/root/anaconda-post.log 2>&1
set -euxo pipefail

if ! id admin >/dev/null 2>&1; then
    useradd -m -s /bin/bash admin
fi

echo 'admin:Vigneshv12$' | chpasswd
usermod -aG wheel admin

cat >/etc/sudoers.d/admin <<EOF
admin ALL=(ALL) NOPASSWD: ALL
EOF

chmod 0440 /etc/sudoers.d/admin

cat >/etc/motd <<EOF
==================================================
 Rocky Linux 9 Enterprise Golden Image
 UEFI + GPT + Single Disk
==================================================
EOF

echo
echo "======================================================"
echo "Rocky Linux 9 Golden Image Build Completed Successfully"
echo "======================================================"

%end
