set default=0
set timeout=5

insmod efinet
insmod net
insmod http
dhcp

menuentry "Install RockyOS 8" {
    linuxefi vmlinuz \
        inst.repo=http://192.168.253.136/repo/rocky8/ \
        inst.stage2=http://192.168.253.136/repo/rocky8/ \
        ks=http://192.168.253.136/repo/rocky8/kickstart/rockyos.cfg \
         inst.text inst.default_fstype=ext4
    initrdefi initrd.img
}
