set timeout=0
set default=0

linuxefi vmlinuz \
    inst.repo=http://192.168.253.136/repo/rocky8 \
    inst.stage2=http://192.168.253.136/repo/rocky8 \
    ks=http://192.168.253.136/repo/rocky8/kickstart/rockyos.cfg \
    console=tty0 console=ttyS0,115200n8

initrdefi initrd.img
boot
