set default=0
set timeout=5

menuentry "Install Rocky Linux 8 - {{ server.hostname }}" {
    linuxefi http://{{ http_server }}/repo/rocky8/images/pxeboot/vmlinuz \
        inst.repo=http://{{ http_server }}/repo/rocky8 \
        ks=http://{{ http_server }}/repo/rocky8/kickstart/rockyos.cfg \
        ip={{ server.ip }}::192.168.253.2:255.255.255.0:{{ server.hostname }}:{{ iface_installer }}:none \
        hostname={{ server.hostname }}
    initrdefi http://{{ http_server }}/repo/rocky8/images/pxeboot/initrd.img
}
