DEFAULT menu.c32
PROMPT 0
TIMEOUT 100
MENU TITLE PXE Boot Menu

LABEL install
  MENU LABEL Install CentOS 7 - {{ server.hostname }}
  KERNEL http://{{ http_server }}/repo/centos7/images/pxeboot/vmlinuz
  INITRD http://{{ http_server }}/repo/centos7/images/pxeboot/initrd.img
  APPEND inst.repo=http://{{ http_server }}/repo/centos7 \
         ks=http://{{ http_server }}/repo/centos7/kickstart/centos.cfg \
         ip={{ server.ip }}::192.168.253.1:255.255.255.0:{{ server.hostname }}:{{ iface_installer }}:none \
         hostname={{ server.hostname }}
