- name: PXE Provision CentOS Servers from NetBox
  hosts: localhost
  gather_facts: false

  vars:
    # You can override these in AWX survey if needed
    servers: []

  tasks:

    - name: Debug NetBox Config Context variables
      debug:
        msg:
          http_server: "{{ http_server }}"
          vm_network: "{{ vm_network }}"
          pxe_folder: "{{ pxe_folder }}"
          default_memory_mb: "{{ default_memory_mb }}"
          default_cpus: "{{ default_cpus }}"
          disk_size_gb: "{{ disk_size_gb }}"

    - name: Include PXE provisioning role
      include_role:
        name: awx-netbox-centos_roles
      vars:
        servers: "{{ servers }}"
