---
- name: PXE Provision hosts from NetBox
  hosts: all
  gather_facts: false

  tasks:
    - name: Fail if host is not tagged for PXE
      assert:
        that:
          - "'pxe_centostag' in tags"
        fail_msg: "Host {{ inventory_hostname }} is not tagged with pxe_centostag in NetBox"

    - name: Load NetBox config context
      set_fact:
        nb_ctx: "{{ config_context | first }}"

    - name: Build PXE server structure from NetBox
      set_fact:
        servers:
          - hostname: "{{ inventory_hostname }}"
            ip: "{{ ansible_host }}"
            mac: "{{ interfaces[0].mac_address | lower }}"

    - name: Run PXE provisioning role
      include_role:
        name: awx-netbox-centos_roles/pxe_provision
