set default=0
set timeout=5

insmod efinet
insmod net
insmod http
dhcp

menuentry "Install Rocky Linux 8" {
    linuxefi rockyos/vmlinuz \
      ip=dhcp \
      inst.repo=http://{{ nb_ctx.http_server }}/repo/rocky8/ \
      inst.stage2=http://{{ nb_ctx.http_server }}/repo/rocky8/ \
      inst.ks={{ nb_ctx.rockyos_kickstart_url }} \
      inst.text \
      inst.default_fstype=ext4 \
      hostname={{ server.hostname }} \
      console=tty0
    initrdefi rockyos/initrd.img
}
