---
# awx-netbox-centos_roles/pxe_provision/tasks/main.yml

- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    # HARDCODED PATH to test if NetBox variables are the issue
    dest: "/var/lib/tftpboot/grub2/grub.cfg"
    mode: '0644'
  delegate_to: tftp-server-01
  vars:
    ansible_user: root

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
