---
# awx-netbox-centos_roles/pxe_provision/tasks/main.yml

- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg"
    mode: '0644'
  # Use the IP here if the hostname isn't in your AWX inventory
  delegate_to: "192.168.253.136" 
  vars:
    ansible_user: root
  run_once: true

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
