---
- name: Reality Check
  shell: |
    echo "Hostname: $(hostname)"
    echo "User: $(whoami)"
    echo "Current Dir: $(pwd)"
    ls -la /var/lib/tftpboot/grub2 || echo "FOLDER NOT FOUND"
    df -h /var/lib/tftpboot
  delegate_to: tftp-server-01
  vars:
    ansible_user: root
  register: reality_check

- name: Show Reality Check
  debug:
    var: reality_check.stdout_lines
