---
- name: Load NetBox config context
  set_fact:
    nb_ctx: "{{ config_context | first }}"

- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg"
    mode: '0644'
  delegate_to: tftp-server-01
  run_once: true

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
