---
# Ensure the directory exists (just in case)
- name: Ensure GRUB directory exists
  file:
    path: "/var/lib/tftpboot/grub2"
    state: directory
    mode: '0755'
  delegate_to: "192.168.253.136"
  vars:
    ansible_user: root

# Place the main dispatcher
- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "/var/lib/tftpboot/grub2/grub.cfg"
    mode: '0644'
  delegate_to: "192.168.253.136"
  vars:
    ansible_user: root
  run_once: true

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
