---
# awx-netbox-centos_roles/pxe_provision/tasks/main.yml

# Ensure GRUB dispatcher exists
- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg"
    mode: '0644'
  delegate_to: tftp-server-01
  # become: true  <-- REMOVE THIS LINE COMPLETELY
  run_once: true

# Provision PXE servers
- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
