---
# Main logic: Using sshpass to handle the password so it doesn't hang
---
- name: Force install requests library in runner
  pip:
    name: 
      - requests
      - pyvmomi
    extra_args: --user
  delegate_to: localhost
  run_once: true

- name: Force write GRUB dispatcher via SSH pipe
  shell: |
    sshpass -p "{{ ansible_password }}" ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@192.168.253.160 "cat > /var/lib/tftpboot/grub2/grub.cfg" <<EOF
    {{ lookup('template', 'grub-dispatcher.j2') }}
    EOF
  delegate_to: localhost
  run_once: true

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
