---
- name: Ensure GRUB directory exists
  file:
    path: "{{ nb_ctx.pxe_folder }}/grub2"
    state: directory
    mode: '0755'
  delegate_to: tftp-server-01
  become: true # <--- This will now work because sudo is present and configured

- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg"
    mode: '0644'
  delegate_to: tftp-server-01
  become: true
  run_once: true

- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
