---
# Ensure the directory structure exists on the TFTP server
- name: Ensure GRUB directory exists
  file:
    path: "{{ nb_ctx.pxe_folder }}/grub2"
    state: directory
    mode: '0755'
    owner: root
    group: root
  delegate_to: tftp-server-01

# Now try to place the file
- name: Ensure GRUB dispatcher exists
  template:
    src: grub-dispatcher.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg"
    mode: '0644'
  delegate_to: tftp-server-01
  run_once: true

# Provision PXE servers
- name: Provision PXE servers
  include_tasks: per_server.yml
  loop: "{{ servers }}"
  loop_control:
    loop_var: server
