---
# STEP 1: PREPARE NETWORK INFRASTRUCTURE
- name: Add DHCP reservation and restart service
  shell: |
    sshpass -p "{{ ansible_password }}" ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@192.168.253.160 <<EOF
    sed -i '/# BEGIN ANSIBLE {{ server.hostname }}/,/# END ANSIBLE {{ server.hostname }}/d' /etc/dhcp/dhcpd.conf
    cat >> /etc/dhcp/dhcpd.conf <<DHCP_EOF
    # BEGIN ANSIBLE {{ server.hostname }}
    host {{ server.hostname }} {
      hardware ethernet {{ server.mac }};
      fixed-address {{ server.ip }};
      option host-name "{{ server.hostname }}";
      filename "grub2/grubx64.efi";
    }
    # END ANSIBLE {{ server.hostname }}
    DHCP_EOF
    systemctl restart dhcpd
    EOF
  delegate_to: localhost

- name: Generate per-host GRUB config
  shell: |
    sshpass -p "{{ ansible_password }}" ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@192.168.253.160 "cat > /var/lib/tftpboot/grub2/grub.cfg-01-{{ server.mac | regex_replace(':','-') | lower }}" <<EOF
    {{ lookup('template', 'grub-centos7.j2') }}
    EOF
  delegate_to: localhost

# STEP 2: NATIVE VMWARE MODULES FOR ESXi
# We use server.hostname.split('.')[0] to match the ESXi short name
- name: Power OFF VM
  community.vmware.vmware_guest:
    hostname: "{{ nb_ctx.exsi_hostname }}"
    username: "{{ nb_ctx.exsi_username }}"
    password: "{{ nb_ctx.exsi_password }}"
    validate_certs: false
    name: "{{ server.hostname.split('.')[0] }}"
    state: poweredoff
  delegate_to: localhost

- name: Set VM firmware to EFI (UEFI)
  community.vmware.vmware_guest_boot_manager:
    hostname: "{{ nb_ctx.exsi_hostname }}"
    username: "{{ nb_ctx.exsi_username }}"
    password: "{{ nb_ctx.exsi_password }}"
    validate_certs: false
    name: "{{ server.hostname.split('.')[0] }}"
    boot_firmware: "efi"
  delegate_to: localhost

- name: Set boot order to PXE first
  community.vmware.vmware_guest_boot_manager:
    hostname: "{{ nb_ctx.exsi_hostname }}"
    username: "{{ nb_ctx.exsi_username }}"
    password: "{{ nb_ctx.exsi_password }}"
    validate_certs: false
    name: "{{ server.hostname.split('.')[0] }}"
    boot_order:
      - ethernet
      - disk
  delegate_to: localhost

- name: Power on VM
  community.vmware.vmware_guest:
    hostname: "{{ nb_ctx.exsi_hostname }}"
    username: "{{ nb_ctx.exsi_username }}"
    password: "{{ nb_ctx.exsi_password }}"
    validate_certs: false
    name: "{{ server.hostname.split('.')[0] }}"
    state: poweredon
  delegate_to: localhost

- name: Pause to allow PXE boot to initiate
  pause:
    seconds: 20

- name: Switch boot order to disk first (for next reboot)
  community.vmware.vmware_guest_boot_manager:
    hostname: "{{ nb_ctx.exsi_hostname }}"
    username: "{{ nb_ctx.exsi_username }}"
    password: "{{ nb_ctx.exsi_password }}"
    validate_certs: false
    name: "{{ server.hostname.split('.')[0] }}"
    boot_order:
      - disk
      - ethernet
  delegate_to: localhost

# STEP 3: MONITOR & VERIFY
- name: Wait for VM to respond to SSH
  wait_for:
    host: "{{ server.ip }}"
    port: 22
    state: started
    delay: 30
    timeout: 1800
  delegate_to: localhost

- name: Refresh SSH known_hosts
  shell: |
    ssh-keygen -R {{ server.ip }} || true
    ssh-keyscan -H {{ server.ip }} >> /tmp/known_hosts
  delegate_to: localhost

- name: Check kernel version via SSH
  command: uname -r
  register: kernel_version
  delegate_to: "{{ server.ip }}"
  vars:
    ansible_ssh_common_args: "-o UserKnownHostsFile=/tmp/known_hosts -o StrictHostKeyChecking=no"

- name: Display kernel version
  debug:
    msg: "Kernel version on {{ server.hostname }} is {{ kernel_version.stdout }}"
