---
- name: Create and Power On VM
  community.vmware.vmware_guest:
    hostname: "{{ nb_ctx.vcenter_hostname }}"
    username: "{{ nb_ctx.vcenter_username }}"
    password: "{{ nb_ctx.vcenter_password }}"
    validate_certs: false
    datacenter: "{{ nb_ctx.datacenter_name }}"
    folder: "{{ nb_ctx.folder }}"
    name: "{{ server.hostname }}"
    state: poweredon
    guest_id: centos7_64Guest
    boot_order: [ "ethernet0" ]
    hardware:
      memory_mb: "{{ nb_ctx.default_memory_mb }}"
      num_cpus: "{{ nb_ctx.default_cpus }}"
    networks:
      - name: "{{ nb_ctx.vm_network }}"
        mac: "{{ server.mac }}"
        device_type: vmxnet3
    disk:
      - size_gb: "{{ nb_ctx.disk_size_gb }}"
        type: thin
        datastore: "{{ nb_ctx.datastore }}"
  delegate_to: localhost

- name: Generate per-host GRUB config
  template:
    src: grub-centos7.j2
    dest: "/var/lib/tftpboot/grub2/grub.cfg-01-{{ server.mac | regex_replace(':','-') }}"
    mode: '0644'
  delegate_to: "192.168.253.136"
  vars:
    ansible_user: root

- name: Add DHCP reservation
  blockinfile:
    path: /etc/dhcp/dhcpd.conf
    marker: "# {mark} ANSIBLE {{ server.hostname }}"
    block: |
      host {{ server.hostname }} {
        hardware ethernet {{ server.mac }};
        fixed-address {{ server.ip }};
        option host-name "{{ server.hostname }}";
        filename "grub2/grubx64.efi"; 
      }
  delegate_to: "192.168.253.136"
  vars:
    ansible_user: root
  notify: restart dhcpd
