---
- name: Create VM if not exists
  vmware_guest:
    hostname: "{{ nb_ctx.vcenter_hostname }}"
    username: "{{ nb_ctx.vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: false
    datacenter: "{{ nb_ctx.datacenter_name }}"
    folder: "{{ nb_ctx.folder }}"
    name: "{{ server.hostname }}"
    state: present
    guest_id: otherGuest64
    hardware:
      memory_mb: "{{ nb_ctx.default_memory_mb }}"
      num_cpus: "{{ nb_ctx.default_cpus }}"
    networks:
      - name: "{{ nb_ctx.vm_network }}"
        mac: "{{ server.mac }}"
    disk:
      - size_gb: "{{ nb_ctx.disk_size_gb }}"
        type: thin
        datastore: "{{ nb_ctx.datastore }}"

- name: Generate per-host GRUB config
  template:
    src: grub-centos7.j2
    dest: "{{ nb_ctx.pxe_folder }}/grub2/grub.cfg-01-{{ server.mac | lower | regex_replace(':','-') }}"
    mode: '0644'
  delegate_to: tftp-server-01

- name: Add DHCP reservation
  blockinfile:
    path: /etc/dhcp/dhcpd.conf
    marker: "# {mark} ANSIBLE {{ server.hostname }}"
    block: |
      host {{ server.hostname }} {
        hardware ethernet {{ server.mac }};
        fixed-address {{ server.ip }};
        option host-name "{{ server.hostname }}";
      }
  delegate_to: tftp-server-01
  notify: restart dhcpd
