# Tasks for each server

- name: Check if VM already exists on ESXi host {{ esxi_host }}
  vmware_guest_info:
    hostname: "{{ esxi_host }}"
    username: "{{ esxi_user }}"
    password: "{{ esxi_pass }}"
    validate_certs: false
    datacenter: "ha-datacenter"
    name: "{{ server.hostname }}"
  register: vm_info
  ignore_errors: true

- name: Ensure VM exists on ESXi host {{ esxi_host }}
  vmware_guest:
    hostname: "{{ esxi_host }}"
    username: "{{ esxi_user }}"
    password: "{{ esxi_pass }}"
    validate_certs: false
    datacenter: "ha-datacenter"
    name: "{{ server.hostname }}"
    state: present
    guest_id: "otherGuest64"
    hardware:
      memory_mb: 4096
      num_cpus: 2
      network:
        - name: "VM Network"
          mac: "{{ server.mac }}"
    disk:
      - size_gb: 100
        type: thin
        datastore: "datastore1"
  when: vm_info.instance is not defined

- name: Ensure PXE config directory exists
  file:
    path: /var/lib/tftpboot/grub2
    state: directory
    mode: '0755'
  delegate_to: tftp-server-01

- name: Generate GRUB config for {{ server.hostname }}
  template:
    src: "grub-{{ server.os }}.j2"
    dest: "/var/lib/tftpboot/grub2/grub.cfg-01-{{ server.mac | regex_replace(':','-') }}"
  delegate_to: tftp-server-01

- name: Add DHCP reservation for {{ server.hostname }}
  blockinfile:
    path: /etc/dhcp/dhcpd.conf
    marker: "# {mark} ANSIBLE {{ server.hostname }}"
    block: |
      host {{ server.hostname }} {
        hardware ethernet {{ server.mac }};
        fixed-address {{ server.ip }};
        option host-name "{{ server.hostname }}";
      }
  notify: restart dhcpd
  delegate_to: tftp-server-01.vgs.com
