- name: Provision servers via PXE
  hosts: localhost
  gather_facts: false

  vars:
    # These variables come from AWX survey as comma-separated strings
    hostnames: ""
    ips: ""
    macs: ""
    oses: ""

  tasks:
    - name: Split survey inputs into lists
      set_fact:
        host_list: "{{ hostnames.split(',') }}"
        ip_list: "{{ ips.split(',') }}"
        mac_list: "{{ macs.split(',') }}"
        os_list: "{{ oses.split(',') }}"

    - name: Build servers list
      set_fact:
        servers: "{{ servers | default([]) + [ {
          'hostname': item.0,
          'ip': item.1,
          'mac': item.2,
          'os': item.3
        } ] }}"
      loop: "{{ host_list | zip(ip_list, mac_list, os_list) | list }}"

    - name: Run PXE provisioning role
      include_role:
        name: roles/pxe_provision
